$project_max_width: 1600px;
$project_min_width: 374px;
$main_color1: #f16d7f;
$main_color2: #222222;
$main_color3: #f1e4e6;
$main_color4: #636363;
$middle_color: #f7f7f7;
$top_font_color2: #5e5e5e;
$top_font_color: #4d4d4d;
$top_font_sandvich_color: #6f6e6e;
$top_width: calc(78% - 100vw / 1600);
$menu_height: 18px;
$widthBurgerMenu: 232px;
$widthRegistration375: 350px;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%font-normal {
  font-family: "Lato";
  font-style: normal;
  color: $main_color2;
}


@mixin font($color, $size, $weight) {
  font-size: $size;
  font-family: Lato;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
  color: $color;
}