$project_max_width: 1600px;
$project_min_width: 375px;
$main_color1: #f16d7f;
$main_color2: #222222;
$main_color3: #f1e4e6;
$main_color4: #636363;
$middle_color: #F7F7F7;
$top_font_color2: #5E5E5E;
$top_font_color: #4D4D4D;
$top_font_sandvich_color: #6F6E6E;
$top_width: calc(78% - 100vw/1600);
/* 1 - 601/1600 = 62.4375%*/
$menu_height: 18px;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%font-normal {
  font-family: "Lato";
  font-style: normal;
  color: $main_color2;
}