*{
    margin: 0px;
    padding: 0px;
}
/* body{
    width: 1600px;
} */
.container{
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content:space-evenly;
    background: #222222;
    height: 75px;
    /* gap: 859px; */
    min-width: 760px;
    
}
.left_header_content{
    display: flex;
    height: 38px;
    margin-top: 18px;
    gap: 41px;
    justify-content: start;
    width: 40%;
}
.right_header_content{
    display: flex;
    height: 29px;
    margin-top: 26px;
    gap: 33px;
    justify-content: end;
    width: 40%;
}
.rectangle{
    height: 92px;
    width: 12px;
    background: #F16D7F;
}
.h1_top_text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
.h2_top_text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}
.red{
    color: #F16D7F;
}
.top_content{
    display: flex;
    align-items: center;
    background: #F1E4E6;
    min-width: 760px;
    
}
.top_img{
    width: 48%;
}
.top_content img{
    width: 100%;
}
.top_text{
    display: flex;
    width: 48%;
    align-items: center;
    justify-content: center;
    min-width: 406px;
}
/* .text{
    display: flex;
   
} */
.sub_text{
    display: flex;
}
.middle_content{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  1fr 0.5fr;
    justify-items:center;
    /* margin-top: 65px; */
    margin: 65px 30px 0 65px;
    min-width: 760px;
}
.middle_content img{
    width: 100%;
}

.big{
    grid-column: 1/4;
}
/* .big img{

} */
.h3_middle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.h2_middle{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}
.middle_item{
    position: relative;

}
/* .middle_item img{
    height: 260x;
    width: 360px;
} */
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
.mid{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p_bottom1{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.p_bottom2{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.bottom_top{
    text-align: center;
    margin-top: 96px;
    margin-bottom: 48px;
    min-width: 336px;
}
.h2_bottom{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin: 25px auto 16px 16px;
    
}
.h3_bottom{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 0 29.26px 16px 16px;
   
}
.h2_price{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin: 0 auto 24px 16px;
    
}
.bottom_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.bottom_item{
    background: #F8F8F8;
}
.butt_bot{
    position: relative;
    margin: 48px auto 60px auto;
    display: flex;
    justify-content: center;
}
.bottom_item img{
    width: 100%;
}

.buttom_bottom{
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
/*     position: absolute;
    
    right: 50%; */
    margin-bottom: 60px;
    padding: 15px 39px 14px;
    min-width: 212px;
    border-color: #F26376;
    
}
@media screen and (max-width: 768px ){
    .h1_top_text{
        font-size: 44px;
        line-height: 53px;
    }
    .h2_top_text{
        font-size: 24px;
        line-height: 29px;
    }
    .bottom_content{
        
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
    }

}
@media screen and (min-width: 376px) and (max-width: 767px){
    .header{
        min-width: 375px;
        height: 74px;
    }
    .img_right_content767{
        display: none;
    }
    .top_content{
        min-width: 375px;
        min-height: 363px;
    }
    .top_img{
        display: none;
    }
    .top_text{
        width: 100vw;
        min-width: 374px;
       /*  align-items: center;
        justify-content: center; */
    }
    .rectangle {
        height: 61px;
        width: 12px;
    }
    .h1_top_text{
        font-size: 44px;
        line-height: 53px;
    }
    .h2_top_text{
        font-size: 24px;
        line-height: 29px;
    }
    .bottom_content{
        
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
    }
    .h1_top_text {
        font-size: 38px;
        line-height: 46px;
    }
    .middle_content{
        display: flex;
        flex-direction: column;
        margin: 16px;
        min-width: 343px;
        padding-top: 48px;
        align-items: center;
    }
    .middle_item{
        height: 249px;
        width: 344px;
    }
    .big{
        display: flex;
        height: 33%;
        min-height: 111px;
    }
    .bottom_top {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .bottom_content{
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
        max-width: 359px;
        min-width: 359px;
        width: 100%;
        padding: 0 8px;
        margin: 0 auto;
    }
    .butt_bot{
        margin: 40.61px auto 85px auto;
        min-width: 359px;
    }
    .buttom_bottom{
        margin-bottom: 0;
        
    }
}
@media screen and (max-width: 376px){
    .header{
        min-width: 374px;
        height: 74px;
    }
    .img_right_content767{
        display: none;
    }
    .top_content{
        min-width: 375px;
        min-height: 363px;
    }
    .top_img{
        display: none;
    }
    .top_text{
        width: 100vw;
        min-width: 374px;
        /* align-items: center;
        justify-content: center; */
    }
    .rectangle {
        height: 61px;
        width: 12px;
    }
    
    .h1_top_text {
        font-size: 38px;
        line-height: 46px;
    }
    .middle_content{
        display: flex;
        flex-direction: column;
        margin: 16px;
        min-width: 343px;
        padding-top: 48px;
        align-items: center;
    }
    .middle_item{
        height: 249px;
        width: 344px;
    }
    .big{
        display: flex;
        height: 33%;
        min-height: 111px;
    }
    .bottom_top {
        margin-top: 64px;
        margin-bottom: 64px;
        width: 100%;
        padding: 0 8px;
        margin: 0 auto;
    }
    .bottom_content{
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
        max-width: 359px;
        min-width: 359px;
        width: 100%;
        padding: 0 8px;
        margin: 0 auto;
    }
    .butt_bot{
        margin: 40.61px auto 85px auto;
        min-width: 359px;

    }
    .buttom_bottom{
        margin-bottom: 0;
    }
}